name: Deploy to Xserver
on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4
      
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          # The root of the repository is deployed
          local-dir: ./
          # Xserverのテスト環境ドキュメントルートへ
          server-dir: ./jugo-japan.jp/public_html/
          exclude: |
            **/.git*
            **/.git*/**
            **/node_modules/**
            **/_local_tools/**
            *.md
